<!DOCTYPE html>
<!-- 网页使用的语言 -->
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" >
<head>
    <!-- 指定字符集 -->
    <meta charset="utf-8">
    <!-- 使用Edge最新的浏览器的渲染方式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport视口：网页可以根据设置的宽度自动进行适配，在浏览器的内部虚拟一个容器，容器的宽度与设备的宽度相同。
    width: 默认宽度与设备的宽度相同
    initial-scale: 初始的缩放比，为1:1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>学生完成的作业列表</title>

    <!-- 1. 导入CSS的全局样式 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
    <script src="js/jquery-2.1.0.min.js"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <script src="js/bootstrap.min.js"></script>
    <style type="text/css">
        td, th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h3 style="text-align: center">所有已提交的作业列表</h3>
    <table border="1" class="table table-bordered table-hover">
        <tr class="success">
            <th>学生ID</th>
            <th>作业标题</th>
            <th>作业内容</th>
            <th>创建时间</th>
            <th>修改时间</th>
        </tr>
        <tr th:each="s_student_homework:${sh}">
            <td th:text="${s_student_homework.getStudentid()}"></td>
            <td th:text="${s_student_homework.getHomeworktitle()}"></td>
            <td th:text="${s_student_homework.getHomeworkcontent()}"></td>
            <td th:text="${s_student_homework.getCreateTime()}"></td>
            <td th:text="${s_student_homework.getUpdateTime()}"></td>
        </tr>-->
        <div class="form-group" style="text-align: center">
            <a href="index.html" th:href="@{/}"> <input class="btn btn-default" type="button" value="返回"/></a>
        </div>

    </table>
</div>
</body>
</html>
