<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        td, th {
            text-align: center;
        }
    </style>
    <title>学生操作</title>
    <script>
        /***
         *读取指定的Cookie值
         *@param {string} cookieName Cookie名称
         */
        function ReadCookie(cookieName) {
            var theCookie = document.cookie;
            var s= theCookie.indexOf("=");
            var length=theCookie.length;
            var s_id=theCookie.substring(s+1,length);
            return s_id;

            // var ind = theCookie.indexOf(cookieName);
            // if(ind==-1 || cookieName=="") return "";
            // var ind1 = theCookie.indexOf(';',ind);
            // if(ind1==-1) ind1 = theCookie.length;
            // /*读取Cookie值*/
            // return unescape(theCookie.substring(ind+cookieName.length+1,ind1));
        }

        function $(id) {
            return document.getElementById(id);
        }

        function init() {
            var username = ReadCookie("s_id");
        }
    </script>
</head>
<body >



<form action="" method="post" role="from" class="smart-green">
        <h1>学生操作
            <span> 请选择您的操作</span>
        </h1>
     
    <label>
        <span>&nbsp;</span>
        <a href="/shlistForStu">

            <input type="button" class="button" value="查看我写过的的作业/修改作业"/>
        </a>
    </label>

    <label>
        <span>&nbsp;</span>
        <a href="/listForStu">
            <input type="button" class="button" value="查看作业/提交作业"/>
        </a>
    </label>
       
</form>



</body>
</html>

