<!-- HTML5文档-->
<!DOCTYPE html>
<!-- 网页使用的语言 -->
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 指定字符集 -->
    <meta charset="utf-8">
    <!-- 使用Edge最新的浏览器的渲染方式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport视口：网页可以根据设置的宽度自动进行适配，在浏览器的内部虚拟一个容器，容器的宽度与设备的宽度相同。
    width: 默认宽度与设备的宽度相同
    initial-scale: 初始的缩放比，为1:1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>添加用户</title>

    <!-- 1. 导入CSS的全局样式 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
    <script src="js/jquery-2.1.0.min.js"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <center><h3>学生注册页面</h3></center>
    <form th:action="@{/student/register}" method="post">

        <div class="form-group">
            <label for="teacherName">学生姓名：</label>
            <input type="text" class="form-control" id="teacherName" name="teacherName" placeholder="请输入学生姓名" th:field="${student.studentname}">
        </div>

        <div class="form-group">
            <label for="teacherId">学生编号：</label>
            <input type="text" class="form-control" id="teacherId" name="teacherId" placeholder="请输入学生编号" th:field="${student.studentid}">
        </div>


        <div class="form-group">
            <label for="teacherUserId">学生用户名：</label>
            <input type="text" class="form-control" id="teacherUserId" name="teacherUserId" placeholder="请输入学生用户名" th:field="${student.studentuserid}">
        </div>

        <div class="form-group">
            <label for="teacherPW">学生密码：</label>
            <input type="text" class="form-control" id="teacherPW" name="teacherPW" placeholder="请输入学生密码" th:field="${student.studentpassword}">
        </div>



        <div class="form-group" style="text-align: center">
            <a th:href="@{/student/register}"> <input class="btn btn-primary" type="submit" value="提交"/></a>
            <a href="addHomework.html" th:href="@{/studentRegister}"> <input class="btn btn-default" type="reset" value="重置"/></a>
            <a href="list.html" th:href="@{/studentLogin}"> <input class="btn btn-default" type="button" value="返回"/></a>
        </div>

    </form>
</div>
</body>
</html>