<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        td, th {
            text-align: center;
        }
    </style>
    <title>老师操作</title>
    <link id="css" rel="stylesheet" type="text/css" href="../style.css"  />
</head>
<body>
<form action="" method="post" role="from" class="smart-green">
        <h1>老师操作
            <span> 请选择您的操作</span>
        </h1>

     
    <label>
        <span>&nbsp;</span>
        <a href="/list">
            <input type="button" class="button" value="查看所有作业/布置作业"/>
        </a>
    </label>

    <label>
        <span>&nbsp;</span>
        <a href="/shlist">
            <input type="button" class="button" value=" 查询所有学生作业"/>
        </a>
    </label>
       
</form>

</body>
</html>
